# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-1': 'atom-gtags:get-definitions'
  'alt-2': 'atom-gtags:get-references'
  'alt-3': 'atom-gtags:get-symbols-of-file'
  'alt-4': 'atom-gtags:lookup-definitions'
  'alt-i': 'atom-gtags:single-file-update'
  'alt-w': 'atom-gtags:nav-forward'
  'alt-q': 'atom-gtags:nav-back'
  'ctrl-alt-g': 'atom-gtags:toggle'
